.mainContainer{
  background-color: rgba(255,0,0,0.5);
  background-image: -webkit-radial-gradient(ellipse farthest-corner at 505px 405px , #EF5 0%, rgba(255, 255, 0, 0) 70%, #F00 95%);
 background-image: -moz-radial-gradient(ellipse farthest-corner at 505px 405px , #EF5 0%, rgba(255, 255, 0, 0) 70%, #F00 95%);
 background-image: radial-gradient(ellipse farthest-corner at 505px 405px , #EF5 0%, rgba(255, 255, 0, 0) 70%, #F00 95%);
  font-family: 'Oswald', sans-serif;
  font-size:1.2em;padding:0.5% 0.1% 0.5% 0.1%; margin:0.5% 0.1% 0.5% 0.1%; width:85%; height:100%; border: 2px dashed #456700;
}
button{
    position: relative;
    left: 50%;
    bottom: 5%;
}

.quoteContainer{
  color: RGB(100,50,60);
  background-color: RGB(125,180,180);
  margin:0.5% 1% 0.5% 1%;
  padding:0.5% 1% 0.5% 1%;
  
}
.quoteMsg{
  font-family: 'Jim Nightshade', cursive;font-size:1.5em;padding: 2% 1% 2% 2%;
}
.quoteAuthor{
  font-family: 'Lobster', cursive;
  margin:1% 2% 2% 40%;
}
footer{
  font-family: 'Lobster', cursive; position : relative; margin: 2% 2% 1% 50%;
}